---
layout: default
---

This blog is powered by the <a href="http://sagecell.sagemath.org/">Sage Cell Server</a>. You can type <a href="http://www.sagemath.org/">Sage</a>/Python code into the cell below, and press `Shift+Enter` to evaluate it (or click "Evaluate").

<div class="all">
  <script type="text/x-sage"> 1 + 2  </script>
</div>

<div class="posts">
  {% for post in site.posts limit:5 %}
    {% if post.draft_tag == null %}
      <article class="post">    
        
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  
        <div class="entry">
          {{ post.excerpt }}
        </div>
        
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
  
  <a href="http://sheaves.github.io/archive.html" class="read-more">ALL POSTS</a>
</div>

