---
layout: default
---
<font color="red">تنبيه:</font> انتقل الكاتب <a href="">لموقع آخر</a>
<br></br>

تستخدم هذه المدونة
<a href="http://sagecell.sagemath.org/">Sage Cell Server</a>.
 بإمكانك كتابة أوامر  
<a href="http://www.sagemath.org/">Sage</a>/Python code 
في الخلية بالأسفل واضغط على `Shift+Enter` لتحسبه (أو اضغط "Evaluate")

<div dir='ltr' class="all">
  <script type="text/x-sage">
def numberOfKeyExchange(n):
    return str(int(n*(n-1)/2))+" keys exchanges"

@interact
def nofke(n=(1,251),):
      print(numberOfKeyExchange(n))  </script>
</div>

<div class="posts">
  {% for post in site.posts limit:5 %}
    {% if post.draft_tag == null %}
      <article class="post">    
        
        <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
  
        <div class="entry">
          {{ post.excerpt }}
        </div>
        
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
    {% endif %}
  {% endfor %}
  
  <a href="http://triviality.github.io/archive" class="read-more">ALL POSTS</a>
</div>

